{% extends "base.html" %}
{% block content %}
	<h1> Check Balance </h1>
	<form action="" method="post" name="balance">
		{{ form.hidden_tag() }}
		<p> UserID:<br>
			{{ form.userid(size=32) }}<br>
			{% for error in form.userid.errors %}
				<span style="color: red">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p> Password:<br>
			{{ form.password(size=16) }}<br>
			{% for error in form.password.errors %}
				<span style="color: red">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p><input type="submit" value="Check Balance"></p>
	</form>
{% endblock %}
